doctype html
html
    head
        link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title  Knowlage base
        body
            nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
                a.navbar-brand(href='/') Knolage Base
                button.navbar-toggler.collapsed(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarsExampleDefault.navbar-collapse.collapse
                    ul.navbar-nav.mr-auto
                        li.nav-item.active
                            a.nav-link(href='/')
                                | Home 
                                span.sr-only (current)
                        li.nav-item
                            a.nav-link(href='/add/articles') Add Articles
            
            br
            br
            br
            .container            
                block content
                br
                hr
                footer
                p CopyRight &copy  2019
            script(src="/bower_components/bootstrap/dist/js/bootstrap.js")
            script(src="/bower_components/jquery/dist/jquery.js")
        